# Node
node_modules/

# Logs
*.log
npm-debug.log*

# Environment
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Build output
dist/
build/

# Archives
*.tar.gz
*.zip

# Binaries
istio-*/
velero-*/

